".atom":
  title: ".atom"
  group: "Config"
  paths: [
    "/Users/chen/.atom"
  ]
".vim":
  title: ".vim"
  group: "Config"
  paths: [
    "/Users/chen/.vim"
  ]
ChenNode:
  title: "ChenNode"
  group: "Web"
  paths: [
    "/Users/chen/Dropbox/Project/ChenNode/ChenNode_v2"
  ]
ChenBlog:
  title: "ChenBlog"
  group: "Web"
  paths: [
    "/Users/chen/Dropbox/Blog"
  ]
