".atom":
  title: ".atom"
  group: "Config"
  paths: [
    "/home/chen/.atom"
  ]
".vim":
  title: ".vim"
  group: "Config"
  paths: [
    "/home/chen/.vim"
  ]
Python:
  title: "python"
  group: "Language"
  paths: [
    "/home/chen/Python"
  ]
ChenNode:
  title: "ChenNode"
  group: "Web"
  paths: [
    "/home/chen/Dropbox/Project/ChenNode"
  ]
ChenBlog:
  title: "ChenBlog"
  group: "Web"
  paths: [
    "/home/chen/Dropbox/Blog"
  ]
